.origin-section {

  .jumbotron  {
    height: 100vh;
    background-color: transparent;
    text-align: justify;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
  }

  h3 {
    float: right;
  }

  #scrollBtn1, #scrollBtn2 {
    margin-top: 1vh;
  }

  .content-wrapper img {
    min-height: 55vh;
    max-height: 55vh;
  }
}
