.origin-section {

  .jumbotron  {
    height: 100vh;
    background-color: transparent;
    text-align: justify;
  }

  #quote {
    font-size: 50px !important;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
  }

  h3 {
    float: right;
  }

  #scrollBtn1 {
    margin-top: 10vh;
  }

  #scrollBtn2, #scrollBtn3 {
    margin-top: 1vh;
  }

  #moore img, #distopia img {
    min-height: 45vh;
    max-height: 45vh;
  }
}
