.origin-section {
  margin-top: 52px;

  .jumbotron  {
    height: 100vh;
    background-color: transparent;
    text-align: justify;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
  }

  h3 {
    float: right;
  }

  #scrollBtn1 {
    margin-top: 40vh;
  }

  #scrollBtn2, #scrollBtn3 {
    margin-top: 5vh;
  }

  #moore img, #distopia img {
    min-height: 400px;
    max-height: 400px;
  }
}
