.slideshow-section {
  margin-top: 8vh;
  img {
    width: 100%;
    min-height: 90vh;
    max-height: 90vh;
  }

  @media (max-width: 1024px) {
    img {
      width: 100%;
      min-height: 350px;
      max-height: 350px;
    }
  }
}
